@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Josefin+Slab:700|Fredericka+the+Great|Princess+Sofia');

body {
	background:url("../images/purplewoogie.jpg");
	background-size:cover;
	font-family:'Josefin Slab',serif;
	font-weight:600;
	color:#FFFFFF;
	text-align:center;
	line-height:1.5em;
	margin:2em;
}
p {
	font-size:1em;
	width:30em;
	margin:auto;
}

.container {

}

header {
	text-align:center;
	background-color:#FFED74;
	border:1px black solid;
	padding:20px;
}

h1 {
	font-size:2.5em;
	font-weight:800;
	font-family: 'Allerta Stencil',sans-serif;
	padding:2em auto;
}

#slogan {
	font-size:1.3em;
	font-style:italic;
	font-family:'Allerta Stencil',sans-serif;
	padding:0 auto;
}

nav {
	background-color:#E8C66A;
	border: 1px black solid;
	padding:20px;
}
ul {	
	font-family:'Fredericka the Great',cursive;
	font-size:1.5em;
	font-weight:700;
	list-style: none;
}

#about { /*article*/
	background-color:E89C6C;
	border:1px black solid;
	padding:20px;
	/* background: rgba(255, 255, 255, 0.45);
	padding:0 3em; */
}


h2 {

	font-family:'Fredericka the Great', cursive;
	font-size:1.5em;
	font-weight:800;
}

#two_column {
	background-color: #ffb7cf;
	border: 1px black solid;
	padding: 20px;
}

#news { /*section*/
	/* background:rgba(255, 255, 255, 0.45);
	padding:0 3em; */
	background-color:violet;
	border: 1px black solid;
	padding 20px;
	float: left;
	width: 30%;
}

#findus { /*section*/
	/* background:rgba(255, 255, 255, 0.45);
	padding:0 3em; */
	background-color:#e55b88;
	border: 1px black solid;
	padding 20px;
	float: right;
	width: 62%;

}


#collage { /*aside*/
	background-color:#FFC675;
	border: 1px black solid;
	padding: 20px;
	/* border: .1em white solid;
	padding: 2em 4em; */
}

footer {
	/* background: rgba(123, 71, 255, 0.4);
	padding:2em auto;
	margin:0 2em; */
	background-color: #FF957E;
	border: 1px black solid;
	padding:20px;
}
