@import url('https://fonts.googleapis.com/css?family=Orbitron|Cinzel|Righteous|Rokkitt:600');

body {
	background:url("../images/woogienights.jpg");
	background-size:cover;
	font-family:'Rokkitt',serif;
	color:#FFFFFF;
	text-align:center;
}
h1 {
	font-size:2.5em;
	font-weight:800;
	font-family: 'Orbitron', sans-serif;
	padding:10px;
}

#slogan {
	font-size:1.3em;
	font-style:italic;
	font-weight:500;
}
div {
	width:350px;
	margin:auto;
}

h2 {

	font-family:'Orbitron',sans-serif;
	font-size:1.5em;
	font-weight:800;
}

p {
	font-size:1em;
	padding:20px;
}