@import url('https://fonts.googleapis.com/css?family=Orbitron:500');

body {
	background:url("../images/woogienights.jpg");
	background-size:cover;
	font-family:"Tahoma";
	color:#FFFFFF;
	text-align:center;
}
h1 {
	font-size:2.5em;
	font-weight:800;
}

#slogan {
	color:#D6DBDF;
	font-size:1em;
	font-style:italic;
	font-weight:500;

h2 {

/*div {
	background-color:#666699;
	opacity:0.6;
	margin:5%;
	border:hidden;
}*/
	font-size:1.5em;
	font-weight:800;
}

p {
	color:#D6DBDF;
	font-size:1em;
	width:400px;
}